<h1>The Fridge</h1>
<div id="forms">
	<form action="/status" method="POST" class="clearfix">
		<h4>Status</h4>
		<textarea name="status_text">Post your current status.</textarea>
		<input type="submit" value="Post">
	</form>
	<form action="/location" method="POST" class="clearfix">
		<h4>Location</h4>
		<textarea name="location_text">Post your current location.</textarea>
		<input type="submit" value="Post">
	</form>
	<form action="/scratch" method="POST" class="clearfix">
		<h4>Scratch</h4>
		<textarea name="message">Post a scratch.</textarea>
		<input type="submit" value="Post">
	</form>
</div>
<div id="scratches"></div>
<div id="users"></div>