<sidebar id="leftbar">
	<h2>Notifications</h2>
	<div id="notifications"></div>
	<h2>Twitter Feed</h2>
	<div id="twitter"></div>
</sidebar>
<div id="scratchboard">
	<h2>Scratchboard</h2>
	<form action="/scratch" method="POST" class="clearfix">
		<h4>Scratch <span>#focus</span> <span>#location</span></h4>
		<textarea name="message">Post a scratch.</textarea>
		<input type="submit" value="Post">
	</form>
	<div id="scratches"></div>
</div>
<sidebar id="rightbar">
	<div id="forms">
		<form action="/focus" method="POST" id="focus_form" class="clearfix">
			<h4>Focus</h4>
			<textarea name="focus_text">Post your current focus.</textarea>
			<input type="submit" value="Post">
		</form>
		<form action="/location" method="POST" class="clearfix">
			<h4>Location</h4>
			<textarea name="location_text">Post your current location.</textarea>
			<input type="submit" value="Post">
		</form>
	</div>
	<div id="users"></div>
</sidebar>