<sidebar id="leftbar">
	<h2 id="twitter_h2">Twitter</h2>
	<div id="twitter"></div>
	<h2>Notifications</h2>
	<div id="notifications"></div>
</sidebar>
<div id="scratchboard">
	<h2>Scratchboard</h2>
	<form action="/scratch" method="POST" class="clearfix">
		<h4><span>#focus</span> <span>#location</span></h4>
		<textarea name="message">Post a scratch.</textarea>
		<div class="clearfix"></div>
		<input type="submit" value="Post">
	</form>
	<div id="scratches"></div>
</div>
<sidebar id="rightbar">
	<div id="forms">
		<form action="/focus" method="POST" id="focus_form" class="clearfix">
			<h4>Focus</h4>
			<textarea name="focus_text">Post your current focus.</textarea>
			<input type="submit" value="Post">
		</form>
		<form action="/location" method="POST" class="clearfix">
			<h4>Location</h4>
			<textarea name="location_text">Post your current location.</textarea>
			<input type="submit" value="Post">
		</form>
	</div>
	<div id="users"></div>
</sidebar>



<script id="user_scratches" type="text/x-handlebars-template">
			{{{#each scratches}}}
				<div class='scratch clearfix {{{scratchclass this}}}' data-index="{{{this.id}}}">
				<div class='clearfix'>
				<span class="posted_by"><div style="background-image:url({{{ avatar_url this ../users }}});" class="scratch_avatar"></div><b>{{{ username this ../users }}}</b><small><i class="relativeTime" data-date="{{{this.created_at}}}">{{{ relativeTime this.created_at }}} </i></small></span>
				<div class="floatleft scratch_content">
				<div class="mtext">{{{replacelinks this.mtext }}}</div>
				{{{#if this.clly }}}
					this.clly
				{{{/if}}}
				{{{#if this.jsfiddle }}}
					this.jsfiddle
				{{{/if}}}
				</div></div>
				<div class="thoughts clearfix" id="thoughts-for-{{{this.id}}}">
				</div>
				<a href="#" class="thought_link">Reply</a>
				<form class="boom_form" action="/scratch/{{{this.id}}}/boom" method="post"><input type="submit" value="BOOM!"></form><p class="boomcount" id="boomcount-for-{{{this.id}}}">{{{ this.boomcount }}}</p>
				<form class="thought_form" action="/scratches/{{{this.id}}}/thoughts" method="POST">
				<textarea name="mtext">A thought...</textarea>
				<input type="submit" value="post">
				</form>
				</div>
			{{{/each}}}
		</script>
<script id="users_template" type="text/x-handlebars-template">
	{{{#with current_user}}}
	<div class="current_user user clearfix" href="#"><a href="/users/edit">Edit your Profile</a>
		<div class="avatar" style="background:url({{{this.avatar_url}}}) center; background-size:cover;"></div>
		<div class="meta">
				<p class="username"><a>{{{ this.username }}}</a></p>
				<p class="nickname">{{{ nickname }}}</p>
				<p class="focus">Focus: {{{ replacelinks focus }}}</p>
				<p class="location">Location: {{{ replacelinks location }}}</p>
				<p class="email"><a target="_blank" href="mailto:{{{email}}}">Email</a></p>
		</div>
	</div>
	{{{/with}}}
	{{{#each users}}}
	<div class="user clearfix">
		<div class="avatar" style="background:url({{{this.avatar_url}}}) center; background-size:cover;"></div>
		<div class="meta">
				<p class="username"><a>{{{ this.username }}}</a></p>
				<p class="nickname">{{{ nickname }}}</p>
				<p class="focus">Focus: {{{ replacelinks focus }}}</p>
				<p class="location">Location: {{{ replacelinks el.location }}}</p>
				<p class="email"><a target="_blank" href="mailto:{{{email}}}">Email</a></p>
		</div>
	</div>
	{{{/each}}}
</script>