<form action="/clients/create" method="post">
	<h4>Create a new Client</h4>
<input name="clientname" placeholder="Client name">
<input name="email" placeholder="Client email">
<input name="keywords" placeholder="Keywords">
<input type="submit">
</form>