/*! normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  /* 2 */

  -ms-text-size-adjust: 100%;
  /* 2 */

}
/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/*
 * Addresses margins handled incorrectly in IE6/7.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a {
  color: #444;
}
a:focus {
  outline: none;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7.
 * Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/*
 * Addresses styling not present in S5, Chrome.
 */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/*
 * Addresses margins set differently in IE6/7.
 */
p,
pre {
  margin: 1em 0;
}
/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * Addresses CSS quotes not supported in IE6/7.
 */
q {
  quotes: none;
}
/*
 * Addresses `quotes` property not supported in S4.
 */
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/*
 * Addresses paddings set differently in IE6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/*
 * Corrects list images handled incorrectly in IE7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

}
/*
 * Corrects overflow displayed oddly in IE9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7.
 */
form {
  margin: 0;
}
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  white-space: normal;
  /* 2 */

  *margin-left: -7px;
  /* 3 */

}
/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */

  margin: 0;
  /* 2 */

  vertical-align: baseline;
  /* 3 */

  *vertical-align: middle;
  /* 3 */

}
/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */

  cursor: pointer;
  /* 3 */

  *overflow: visible;
  /* 4 */

}
/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

  *height: 13px;
  /* 3 */

  *width: 13px;
  /* 3 */

}
/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in FF3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix {
  zoom: 1;
}
/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}
/* IE7 */
.floatright {
  float: right;
}
.floatleft {
  float: left;
}
block {
  display: block;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   color: #444;
   font-weight: 300;
}
.fridge #container {
  min-width: 1000px;
}
h1 {
  background: #111;
  padding: 30px;
  color: #fff;
  font-weight: 300;
  margin-top: 0;
}
#session_info {
  padding: 10px 30px;
  background-color: #666;
  color: #fff;
}
#session_info p {
  padding: 0;
  margin: 0;
}
#session_info a {
  color: #ededed;
}
#leftbar {
  float: left;
  width: 20%;
  min-width: 200px;
  padding: 12px;
}
#forms {
  display: none;
}
#forms form, #scratchboard form {
  margin-bottom: 12px;
}

input {
  display: block;
  border: 1px solid #777;
  background: #efefef;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 80%;
  letter-spacing: 0.05em;
  box-shadow: 0 0 0 #444,
              1px 1px 0 #444,
              2px 2px 0 #444,
              3px 3px 0 #444;
  right: 0px;
  border-radius: 4px;
  position: relative;
  float: right;
}
input:hover{
  background: #ccc;
  color: #444;
}
input:active {
  top: 3px;
  left: 3px;
  box-shadow: none;
}
textarea {
  display: block;
  margin: 12px 0;
  width: 100%;
  background: #fefefe;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 12px;
}
textarea:focus {
  outline: none;
  border: 1px solid #ccc;
}
#forms h4, #scratchboard h4 {
  padding: 0;
  padding-top: 12px;
  margin: 0;
}
#scratchboard h4 span {
  font-weight: 300;
  text-decoration: underline;
  cursor: pointer;
}
#scratchboard {
  float: left;
  width: 50%;
  min-width: 500px;
  padding: 12px;
}
.scratch {
  padding: 20px 0 0;
  border-left: 5px solid #888;
  box-shadow: 1px 1px 3px -1px #aaa, 0 0 8px -2px #ccc, inset 0 0 10px #eee;
  border-radius: 4px;
  position: relative;
  margin-bottom: 20px;
  background: #fefefe;
}
.scratch h5 {
  margin: 0;
  padding: 6px 12px;
  background: ;
}
.scratch.focus {
  background-color: #fff0e4;
}
.scratch.focus:before {
  position: absolute;
  top: 0px;
  right: 0px;
  content: "FOCUS";
  font-weight: 500;
  letter-spacing: 0.05em;
  font-size: 80%;
  color: #733609;
  background-color: #b15918;
  padding: 3px;
}
.scratch.location {
  background-color: #fffae4;
}
.scratch.location:before {
  position: absolute;
  top: 0px;
  right: 0px;
  content: "LOCATION";
  font-weight: 500;
  letter-spacing: 0.05em;
  font-size: 80%;
  color: #c2b845;
  background-color: #efe468;
  padding: 3px;
}
.scratch .posted_by {
  margin-right: 12px;
  margin-bottom: 12px;
  padding: 4px;
  display: block;
  text-align: center;
  max-width: 120px;
  width: 20%;
  max-height: 150px;
}
.scratch .scratch_content {
}
.scratch .posted_by img {
  width: 70px;
  max-height: 70px;
  border-radius: 70px;
}
.scratch img {
  max-width: 100%;
}
#rightbar {
  float: right;
  width: 30%;
  padding: 12px;
  min-width: 300px;
}
#users .user {
  background: #efefef;
  border-radius: 4px;
  padding: 12px;
  float: left;
  width: 100%;
  min-width: 314px;
  position: relative;
  text-decoration: none;
  min-height: 110px;
}
.user p {
  margin: 0;
  padding: 0;
}
#users .user.current_user {
  background: #cdecb9;
}
#users .user.current_user:before {
  content: "This is you.";
  position: absolute;
  height: 20px;
  top: 0px;
  right: 0px;
  background: #444;
  color: #999;
  padding: 2px 3px;
}
#users .user:hover {
  background: #dedede;
}
#users img {
  max-width: 100%;
  margin-right: 20px;
  display: block;
  border-radius: 100px;
}
#users .avatar {
  overflow: hidden;
  border-radius: 100px;
  margin-right: 20px;
  float: left;
  width: 70px;
  height: 70px;
  top: 8px;
  position: relative;
}
  #users .avatar:after {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    box-shadow: inset 0 0 10px #000;
    content: "";
  }
#users .username {
  font-weight: bold;
}
#users .username:before {
  content: "@";
  font-weight: 300;
}
#users .meta {
  float: left;
  width: 65%;
  min-width: 200px;
}
#users p {
  
}
#focus {
  color: #ffb58d;
}

.tweet {
  border-bottom: 1px solid #c2e3ec;
  padding: 6px;
  background-color: #e2f9ff;
}
.tweet p {
  margin: 0;
  padding: 0;
}
#notifications {}
.notification {
  padding: 12px;
  background: #efefef;
  border-bottom: 1px solid #ddd;
}
.notification p {
  margin: 0;
  padding: 0;
}
.notification input {
  float: right;
  border: 1px solid #b6380c;
  font-weight: 300;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background: #ed6535;
  color: #fff;
}
form.submitting textarea {
  color: #777;
}

.thought {
  display: block;
  width: 100%;
  padding: 12px;
  background: #f4f0fb;
  border-top: 1px solid #e8dcfc;
}
.thought p {
  margin: 3px 0;
}
.thought_by {
  width: 20%;
  max-width: 100px;
  float: left;
}
.thought_text {
  width: 80%;
  max-width: 570px;
  margin-left: 20px;
  float: left;
}
.thought_link {
  margin: 0;
  padding: 12px;
  display: block;
  background: #FBF4FF;
}
.thought_form {
  display: none;
}
.thought_form textarea {
  background: #f0edf6;
}

.login {
  background: url(/images/light_noise_diagonal.png);
}
.fridge {
  background: url(/images/furley_bg.png);
}

.login form {
  width: 300px;
  margin: 0 auto;
}
.login input {
  display: block;
  background: #fff;
  color: #666;
  box-shadow: none;
  padding: 6px 8px;
  margin-bottom: 20px;
  position: relative;
  float: none;
  width: 100%;
}
.login input[type=submit]:hover {
  background: #343434;
  color: #fefefe;
}
.login input:focus {
  top: 0px;
  left: 0px;
}
.login h1 {
  text-align: center;
}
.flash {
  padding: 12px;
  background: #f8f0c8;
  border-bottom: 1px solid #e0d395;
}
.autocomplete {
  margin: 0;
  padding: 0;
  list-style: none;
}
.autocomplete li {
  background: #eee;
  border-bottom: 1px solid #ccc;
  padding: 12px;
  margin: 0;
}