<form action="/users/edit" method="post" class="clearfix">
	<input name="nickname" placeholder="nickname">
	<input name="email" placeholder="email">
	<input name="avatar_url" placeholder="Avatar url">
	<input type="password" name="password" placeholder="password">
	<input type="submit">
</form>