<form action="/users/edit" method="post" class="clearfix">
	<h3>Edit your profile</h3>
	<label>Nickname</label><input name="nickname" placeholder="nickname" value="<%= current_user.nickname %>">
	<label>Email</label><input name="email" placeholder="email" value="<%= current_user.email %>">
	<label>Avatar</label><input name="avatar_url" placeholder="Avatar url" value="<%= current_user.avatar_url %>">
	<input type="submit">
</form>